  .list {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    border: none;
    overflow-x: hidden;
}

.button {
    height: 30px;
    background-color: lightseagreen; 
    border: none;
    color: white;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
  }